
/*PARA EL LOGIN*/
body{
    background-color:#f0f0f1;
}
.login-form-1{
    padding: 4%;
    background-color:#ffffff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.10);
    text-align:center;
    width:450px;
    height:430px;
    margin:auto;
    margin-top:4%;
    border-radius:20px;
}
.login-container{

    width:50%;
}
.login-form-1 h3{
    margin-bottom:10%;
    text-align: center;
    color: #333;
}

.btnSubmit
{
    width: 60%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-top:8%;
}
.login-form-1 .btnSubmit{

    font-weight: 600;
    color: #fff;
    background-color: #f29d14;
}
.login-form-1 .btnSubmit:hover{
    background-color: white;
    border: 1px solid #f29d14;
    color:#f29d14;
}

.logo{
    width:18%;
    margin:auto;
    margin-top:6%;
    margin-left:43%;
}
ul.navbar-nav{
     margin:auto;
}
p{
    padding:8px;
    margin:0;
}
.g-color-primary{
    color: #f29d14;
}
.input-group-addon{
    border: 1px solid black;
}
.form-control{
    border: 1px solid black;
}
.fa-lock {
    padding: 0.5rem;
    color: orange;
}
.fa-envelope{
    padding: 0.4rem;
    color: orange;
}
.mb-4{
    width:80%;
    margin:auto;
}

