/*para front tienda*/
body{
    font-family: Karla;
    font-weight: 100;
}
.container-main{
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height: 500px;
    background: url('https://img.freepik.com/free-photo/honey-drips-from-spoon-into-jar-black-background_222185-1240.jpg') no-repeat;
    /*background: url('https://i.gifer.com/RxCn.gif') no-repeat;*/
    background-size: cover;
    background-attachment: fixed;

}

nav{
    background-color:black;
    transition:0.6s;
    padding-right: 2%;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    transition:0.6s;

}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);

}
.collapse:not(.show) {
    display: none;
}
nav.sticky{
    padding: 5px 10px;
    background-color: black;
}
ul.navbar-nav{
    margin:auto;
}

.navbar-text a.nav-link-home {
    display: block;
    padding: 0.5rem 0rem;
    padding-right: 0.5rem;
    color: orange;
    text-decoration: none;
}
.navbar-text a.nav-link-tienda {
    display: block;
    padding: 0.5rem 0rem;
    color: orange;
    text-decoration: none;
}
.navbar-text a.nav-link-carrito{
    display: block;
    padding: 0.5rem 0rem;
    color: orange;
    text-decoration: none;
}
.navbar-text a.nav-link-nosotros{
    display: block;
    padding: 0.5rem 0rem;
    color: orange;
    text-decoration: none;
}
.navbar-text a.nav-link-apadrina{
    display: block;
    padding: 0.5rem 0rem;
    color: orange;
    text-decoration: none;
}
#input-cantidad{
    width: 5em;
}
#categoria-hover:hover{
    color:orange;
}

.row-index{
    margin:5%;
    padding:0;
    display: flex;
}

.row-apadrina{
    text-align: justify;
    margin-bottom: 2em;
}
.row-tienda{
    margin-top: 8%;
    display:flex;
    flex-wrap: wrap;

}
.row-footer{
    margin: 0;
    padding-top:2em;
    display: flex;
}
#row-carrito{
    margin:10%;
    padding:0;
}
#row-productos{
    width: max-content;
}
#row-list{
    width: max-content;
}
#row-facturacion{

    margin:3em;
    padding-top:5em;
}
#row-tienda{
    display: flex;
    margin-top: 1%;
}
#row-nosotros {
    margin-top: 1%;
}
.logo {
    width: 100%;
    height: 65px;
}
.btn-primary{
    margin-top: 0.5em;
}
.nosotros-padding{
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.col-lg-9{
    /*width:0;*/
}
.sidebar{
    margin-top: 60px;
    padding-left: 50px;
    float: left;
    width: 30%;
}
#sidebar-id{
    margin-top:10em;
    width: 25%;
}
.pagar{
    margin-top: 1em;
    width: fit-content;
}
#nav-sidebar{
    text-decoration: none;
    color:black;
}

#nav-sidebar:hover{
    text-decoration: none;
    color:orange;
}
#ul-margin{
    margin-left: 2em;
}
#margin-bote{
    margin: auto;
    padding-left: 1em;
}


.left-area{
    float:left;
    width: 70%;
}
.table{
    margin-bottom: 30px;
    border-collapse: separate;
}
.table-envio{


    border: 1px solid black;
    width:30%;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
.svg-border-rounded svg {
    position: absolute;
     bottom: 0;
     width: 100%;
}

@media (min-width: 1200px){
    .svg-border-rounded svg {
        height: 3rem;
    }

}
@media (max-width: 750px) {
    .row{
        margin:8%;
        padding:0;
        margin-top: 20%;
    }
}
@media (max-width: 700px){
    .sidebar{
        margin-top: auto;
        float: right;
        width: auto;
    }
    .left-area{
        margin-top:25%;
        float:none;
        width: auto;
    }
    .table-envio{
        float:left;
        margin-top: 5%;
    }
    .derecha{
        text-align: left;
    }
    #row-carrito{
        margin-top: 10%;
    }
    #li-carrito{
      width: 5em;
        padding-left: 0.5rem;
        float: left;
    }
    #carrito{
        float: left;
        width: 5em;
    }
    #pedidos-horario{
        margin-left: -16em;
    }
    #envios-lista{
        font-size: 0.9em;
    }
}
.py-10 {
    padding-top: 3rem!important;
    padding-bottom: 6rem!important;
}

.bg-white{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
section{
    position: relative;
}
.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}
.text-light{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-gray-900),var(--bs-text-opacity))!important;

}
.footer-black{
    background-color: #212529;
    color:white;
 }
.footer-brand{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
#naranja{
    text-align: center;
    color: orange;
}
.negrita{
    font-size: 1.2rem;
    font-weight: bold;
}
#foto-pequeña{
    height:6em;
}
#foto-grande{
    height: 35vh;
}
td{
    vertical-align: middle;
}
#button-add{
    background-color:orange;

    text-decoration: none;

    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

#button-add:hover{
    background-color: white;
    color: black;
    border:1px solid black;
}
.btn-outline-dark:hover{
    color:black;
    background-color: orange;
}

#marco{
    border: 2px lightsalmon outset;
    width: 70%;
    margin:auto;
}
.flecha{
    /*padding:5px;*/
    /*border: 2px solid #eeeeee;*/
}

.flecha:hover::after{
    content: "→";
    color:orange;
    transition:color 300ms ease 0ms,background-color 300ms ease 0ms;
}
.titulo{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.contenido{

    width: 60%;
    text-align: justify;
    margin: auto;
}
.contenido-2{
    margin: auto;
    width: 60%;
    text-align: justify;
}
a{
    color:gray;
    text-decoration: none;
}
a:hover{
    color:orange;
    text-decoration: none;
}
.icon-list-social-link{
    margin-right: 0.5rem;
}
.bi-instagram{
    font-size: 1.2em;
}
.bi-facebook{
    font-size: 1.2em;
}
.bi-whatsapp{
    font-size:1.4em;
}
.bi-whatsapp:hover{
    color:green;
}
.bi-cart-plus{
    font-size: 1.5em;
}
#right{
    text-align: right;
}
.marca{
    height: 3em;
    padding: 1em;
}
#color-carrito{
    color:currentColor;
}
#color-carrito:hover{
    color:orange;
}
#carrito{
    float: left;
}
#li-carrito{
    padding-left: 0.5rem;
    float: left;
}
.table-envio{
    margin-top: 1em;
    border: 1px solid black;
    width:50%;
}
.agrupacion{
    width: 40%;
    display: inline-block;
}
.agrupacion-pago{
    width: 55%;
    float: right;
}
.fondo{
    width: 100%;
    background-image: linear-gradient(120deg, rgba(246, 212, 101, 0.26) 0%, rgba(253, 159, 133, 0.39) 50%), url('https://i.blogs.es/272b2e/mieles/1366_2000.jpg');
    height: 400px;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-position: center; */

}
.row-dos{
    width: 80%;
    display: flex;
    padding-top: 2em;
    margin: auto;
}
.foto-row{
    height: 200px;
    padding: 0.5em;
}



.widget-container {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
    margin-bottom: 30px
}

.widget-container .widget {
    margin-bottom: 0
}

.widget-container>.row {
    margin-right: 0 !important;
    margin-left: 0 !important
}

.widget-container>.row>[class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important
}


.widget {
    -webkit-border-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px;
    -moz-background-clip: padding;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    vertical-align: middle
}

.widget .row {
    font-size: 0;
    margin-left: 0;
    margin-right: 0
}

.widget .row:before {
    display: none
}

.widget .row .col {
    font-size: 11px
}

.widget .row .col:first-child {
    -webkit-border-radius: 2px 0 0 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px 0 0 2px;
    -moz-background-clip: padding;
    border-radius: 2px 0 0 2px;
    background-clip: padding-box
}

.widget .row .col:last-child {
    -webkit-border-radius: 0 2px 2px 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 2px 2px 0;
    -moz-background-clip: padding;
    border-radius: 0 2px 2px 0;
    background-clip: padding-box
}

.widget .col {
    display: inline-block;
    vertical-align: top
}

.widget [class*=col-] {
    font-size: 11px;
    margin: 0;
    padding: 0
}

.image-tile {
    border: 1px solid #fff
}

.image-tile .tile {
    border: 1px solid #fff;
    height: 350px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: bottom
}
