/*para front tienda*/
body{
}
.container-main{
    margin: 0;
    padding: 0;
    position: relative;
    width:100%;
    height: 500px;
    background: url('https://img.freepik.com/free-photo/honey-drips-from-spoon-into-jar-black-background_222185-1240.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

nav{
    background-color:black;
    transition:0.6s;
    padding-right: 2%;
}
nav.sticky{
    padding: 5px 100px;
    background-color: black;
}
ul.navbar-nav{
    margin:auto;
}
.navbar-text a.nav-link-home {
    display: block;
    padding: 0.5rem 1rem;
    color: orange;
    text-decoration: none;
}
.navbar-text a.nav-link-tienda {
    display: block;
    padding: 0.5rem 1rem;
    color: orange;
    text-decoration: none;
}
.row{
    margin:8%;
    padding:0;

}

.logo {
    width: 100%;
    height: 60px;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}
.svg-border-rounded svg {
     position: absolute;
     bottom: 0;
     width: 100%;
}
@media (min-width: 1200px){
    .svg-border-rounded svg {
        height: 3rem;
    }
}
.bg-white{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
section{
    position: relative;
}
.text-white{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-light{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}