<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Tienda Online</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/starter-template.css" rel="stylesheet">

</head>

<body>

<!--Plantilla -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <a class="nav-link" href="/cliente/list">Listar Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/producto/new">Nuevo Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/producto/list">Listar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categoria/new">Nueva Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/categoria/list">Listar Categoria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pedido/list">Ver Pedidos</a>
          </li>
        </ul>
        <span class="navbar-text">
           <ul class="navbar-nav me-auto">
          <li class="nav-item justify-content-end" >
            <a class="nav-link" href="/admin/cerrar">Cerrar Sesion</a>
          </li>
           </ul>
        </span>
      </div>
    </div>
  </nav>

<!-- Formulario -->
<div class="container">
  <div class="starter-template">
    <div class="row">
      <div class="col-md-offset-2 col-md-8" style="margin:auto">
        <form method="post" action="#" th:action="${pedidoForm.idPedido != 0} ? @{/pedido/edit/submit} : @{/pedido/new/submit}"
              th:object="${pedidoForm}">
          <h1 th:text="${pedidoForm.idPedido != 0} ? 'Editar cliente' : 'Nuevo cliente'">Nuevo cliente</h1>


          <div class="form-group">
            <label for="fecha">Fecha</label> <input type="text" class="form-control" id="fecha" placeholder="5928553w" th:field="*{fecha}" required/>
          </div>
          <div class="form-group">
            <label for="confirmado">Confirmado</label> <input type="text" class="form-control" id="confirmado" placeholder="andrea" th:field="*{confir}" required />
          </div>
          <div class="form-group">
            <label for="nombre">Cliente</label> <input type="text" class="form-control" id="nombre" th:field="*{cliente.nombre}" readonly />
          </div>


          <button type="submit" class="btn btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>