<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/loginregister2.css}"/>

</head>

<body>

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <a href="#clienteSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cliente</a>
          <ul class="collapse list-unstyled" id="clienteSubmenu">
            <li>
              <a th:href="@{/cliente/list}">Listar Cliente</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#productoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Producto</a>
          <ul class="collapse list-unstyled" id="productoSubmenu">
            <li>
              <a th:href="@{/producto/list}">Listar Producto</a>
            </li>
            <li>
              <a th:href="@{/producto/new}">Nuevo Producto</a>
            </li>
          </ul>
        <li>
          <a href="#categoriaSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categoria</a>
          <ul class="collapse list-unstyled" id="categoriaSubmenu">
            <li>
              <a th:href="@{/categoria/list}">Listar Categoria</a>
            </li>
            <li>
              <a th:href="@{/categoria/new}">Nueva Categoria</a>
            </li>
          </ul>
        </li>
        <li>
          <a th:href="@{/pedido/list}" >Pedido</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content" class="nav-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="clienteform">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
                <span class="navbar-text">
                               <ul class="navbar-nav me-auto">
                              <li class="nav-item justify-content-end">
                                <a class="nav-link" href="/admin/cerrar">Cerrar Sesion</a>
                              </li>
                               </ul>
                </span>
          </ul>
        </div>
        <span class="navbar-text">

           <ul class="navbar-nav me-auto">
              <li class="nav-item justify-content-end">
                <a class="nav-link" href="#page-home">
                    <img th:src="@{/img/logo2.png}" class="logo">
                </a>
              </li>
           </ul>

        </span>
      </div>
    </nav>
    <div class="row-list">
      <div class="content-main" >
        <form method="post" action="#" th:action="${clienteForm.idCliente != 0} ? @{/cliente/edit/submit} : @{/cliente/new/submit}"
              th:object="${clienteForm}">
          <h1 th:text="${clienteForm.idCliente != 0} ? 'Editar cliente' : 'Nuevo cliente'">Nuevo cliente</h1>


          <div class="form-group">
            <label for="nombre">Nombre</label> <input type="text" class="form-control" id="nombre" placeholder="5928553w" th:field="*{nombre}" required/>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label> <input type="text" class="form-control" id="apellidos" placeholder="andrea" th:field="*{apellidos}" required />
          </div>
          <div class="form-group">
            <label for="nombre Empresa">Nombre Empresa</label> <input type="text" class="form-control" id="nombre Empresa" placeholder="c/los huertos" th:field="*{nombreEmpresa}" />
          </div>
          <div class="form-group">
            <label for="pais">Pais</label> <input type="email" class="form-control" id="pais" placeholder="España" th:field="*{pais}" readonly/>
          </div>
          <div class="form-group">
            <label for="direccion">Direccion</label> <input type="text" class="form-control" id="direccion" placeholder="usu" th:field="*{direccion}" required/>
          </div>
          <div class="form-group">
            <label for="apartamento">Apartamento</label> <input type="text" class="form-control" id="apartamento" placeholder="1234" th:field="*{apartamento}" required/>
          </div>
          <div class="form-group">
            <label for="provincia">Provincia</label> <select
                  th:field="*{provincia}" class="form-control"  id="provincia">
            <option value="-1">---</option>
            <option th:each="provincia : ${provincias}"
                    th:value="${provincia.idProvincia}" th:text="${provincia.nombre}">Provincia</option>
          </select>
          </div>
          <div class="form-group">
            <label for="localidad">Localidad</label> <input type="text" class="form-control" id="localidad" placeholder="6535353" th:field="*{localidad}" required/>
          <div class="form-group">
              <label for="codigo Postal">Codigo Postal</label> <input type="text" class="form-control" id="codigo postal" placeholder="6535353" th:field="*{codigoPostal}" required/>
          </div>
          </div>
          <div class="form-group">
            <label for="telefono">Telefono</label> <input type="text" class="form-control" id="telefono" placeholder="6535353" th:field="*{telefono}" required/>
          </div>
          <div class="form-group">
            <label for="email">Email</label> <input type="email" class="form-control" id="email" placeholder="6535353" th:field="*{email}" required/>
          </div>
          <button type="submit" class="btn btn btn-primary" >Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<!--&lt;!&ndash;<script src="js/popper.js"></script>&ndash;&gt;-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>