<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/loginregister2.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/cliente/new">Nuevo Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producto/new">Nuevo Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categoria/new">Nueva Categoria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pedido/list">Ver Pedidos</a>
                </li>
            </ul>
            <span class="navbar-text">
           <ul class="navbar-nav me-auto">
          <li class="nav-item justify-content-end" >
            <a class="nav-link" href="/admin/cerrar">Cerrar Sesion</a>
          </li>
           </ul>
        </span>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1>Pedidos de la Empresa</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Peso</th>
                <th>Disponible</th>
                <th>Categoria</th>

            </thead>
            <tbody>
            <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.idProducto}"></td>
                <td th:text="${producto.nombre}"></td>
                <td th:text="${producto.descripcion}"></td>
                <td th:text="${producto.precio } + '€' "></td>
                <td th:text="${producto.peso } + kg"> </td>
                <td th:text="${producto.categoria.nombre}"></td>

                <td><a th:href="@{/producto/edit/{id}(id=${producto.idProducto})}" class="btn btn-primary" >Editar</a>
                    <a th:href="@{/producto/borrar/{id}(id=${producto.idProducto})}" class="btn btn-danger" >Borrar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>