
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" th:href="@{/css/loginregister2.css}"/>

</head>
<body>



<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<!--&lt;!&ndash;<script src="js/popper.js"></script>&ndash;&gt;-->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<script src="/webjars/jquery/jquery.min.js"></script>
<!--<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
</body>
</html>
